body {
    font-size: 1.2em;
    background-color: #888;
}

.error {
    color: red;
    font-weight: bold;
    display: none;
}

#list1, #list2 {
    float: left;
}

#list2 {
    margin-left: 20px;
}