body {
    font-size: 1.2em;
    background-color: #888;
}

.error {
    color: red;
    font-weight: bold;
    display: none;
  }
  
  .loading-icon {
    position: absolute;
    left: 50%;
    top: 10px;
  }
  
  .active {
    font-weight: bold;
  }